<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AudioLogger.Application.Configuration" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="AudioLogger.Application.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="AudioLogger.Configuration" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <AudioLogger.Application.Configuration>
            <setting name="IniFilename" serializeAs="String">
                <value>\config.ini</value>
            </setting>
            <setting name="AudioFilenameFormat" serializeAs="String">
                <value>yyyyMMdd-HHmmss</value>
            </setting>
            <setting name="LogFilename" serializeAs="String">
                <value>log4netConfig.xml</value>
            </setting>
            <setting name="TemporaryFolder" serializeAs="String">
                <value>recordings</value>
            </setting>
            <setting name="ProgramDataFolder" serializeAs="String">
                <value>C:\ProgramData\CentroFM\</value>
            </setting>
            <setting name="BackupDir" serializeAs="String">
                <value>backup</value>
            </setting>
            <setting name="WarningTrigger" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="LogFolder" serializeAs="String">
                <value>logs</value>
            </setting>
        </AudioLogger.Application.Configuration>
        <AudioLogger.Application.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </AudioLogger.Application.Properties.Settings>
        <AudioLogger.Configuration>
            <setting name="IniFilename" serializeAs="String">
                <value>\config.ini</value>
            </setting>
        </AudioLogger.Configuration>
    </applicationSettings>
</configuration>